<%- include('../partials/header.ejs') %>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="dropdown d-flex">
            <a class="rounded-circle center d-block mx-auto" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" href="#"><img src="uploads/<%- image %>" style="width: 100px;height: 100px;" class="rounded-circle center d-block mx-auto"/></a><a href="/logout">Logout</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a href="#" class="dropdown-item">Edit your profile</a></li>
            </ul>
        </div>
    </div>
  </nav>