<%- include('../partials/header.ejs') %>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="dropdown d-flex">
            <a class="rounded-circle center d-block mx-auto" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" href="#"><img src="uploads/<%- foto %>" style="width: 100px;height: 100px;" class="rounded-circle center d-block mx-auto"/></a><a href="/logout">Logout</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a href="#" class="dropdown-item">Edit your profile</a></li>
            </ul>
        </div>
        <div>Número de vizualizações do portfolio: <%= view %></div>
    </div>
  </nav>

  <div class="container">
      <div class="row justify-content-center">
          
        <form action="#"">
            <div class="d-flex justify-content-center ">
                <a href="#" onclick="editProfile()" id="editar" class="btn btn-primary mb-5" style="display: block">Editar</a>
            </div>
    
            <div class="d-flex justify-content-center">
                <a href="#" onclick="cancelEdit()" id="cancel" class="btn btn-danger mb-5" style="display: none">Cancelar</a>
            </div>
    
            <div class="form-floating col-12 mb-5">
                <input type="text" class="form-control" placeholder=" " disabled/>
                <label class="ms-2">User Name</label>
            </div>
    
            <div class="form-floating col-12">
                <textarea name="description" id="description" cols="30" rows="10" class="form-control" placeholder=" " disabled></textarea>
                <label class="ms-2">Your description</label>
            </div>
        </form>
        
      </div>
  </div>

  <script>
      function editProfile(){
          var inputs = document.querySelectorAll('.form-control')
          inputs.forEach(i => {
              i.disabled=false;
          })

          document.getElementById('editar').style.display = 'none';
          document.getElementById('cancel').style.display = 'block';
      }

      function cancelEdit(){
          var inputs = document.querySelectorAll('.form-control')
          inputs.forEach( i => {
              i.disabled = true;
          })
          document.getElementById("editar").style.display = 'block';
          document.getElementById("cancel").style.display = 'none';
      }
  </script>