@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-family: 'Lato', sans-serif;
   
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

}

body{
    background-image: url(https://cdn.wallpapersafari.com/38/13/sQtEFD.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    
    
}
.featurette-heading{
    color: black;
}

.span-featurette{
    color: white;
}


.lead{
    color: wheat;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: wheat;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    text-align: center;
    padding: 20px;
}





.text-end {
    text-align: right!important;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

